@model TestViewModel


<h1>New Page</h1>
<hr />
<div class="row">
    <div class=col-6>

        <div class="card">

            <div class="card-header">
                <h5>Add a food item</h5>
            </div>


            <div class="card-body">

                <form asp-controller = "Test" asp-action = "CreateFood" method="post">


                    <div class="mb-3">
                        <label class="form-label">Add Here:</label>

                        <input asp-for=FoodItem type="text" class="form-control" />

                    </div>

                    <div>
                        <button type ="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>

            <div class="card-footer">
            </div>



        </div>





    </div>


</div>